<% origin = params[:origin] %>
<% destination = params[:destination] %>
<% passenger_name = params[:passenger_name] %>

<% if origin == "" || destination == "" || passenger_name == "" %>
	<% controller.redirect_to "/" %>
<% end %>



<h1>the driver is comming.</h1>